## Java
*.class
*.war
*.ear
# .jar is needed when local repo is managed

## Eclipse
.settings/
.project
.classpath
.metadata

## Intellij
.idea/
*.iml

## Gradle
build/

## OS Specific
.DS_Store
*.db
/.gradle/
/bin/
